<div class="comment-box">
  <div class="comment-info">
    <p class="comment-user"><%= comment.user.nickname %></p>
    <p class="comment-time"><%= l comment.created_at %></p>
  </div>
  <p><%= simple_format(comment.text) %></p>
</div>