<div class="comment-box">
  <div class="comment-info">
    <p class="comment-user"><%= comment.user.nickname %></p>
    <p class="comment-time"><%= comment.created_at %></p>
  </div>
  <p class="comment-text"><%= comment.text %></p>
</div>