.info-main {
  display: flex;
  justify-content: center;
}

.info-wrap {
  width: 800px;
  padding: 100px 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.info-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}

/* .user-edit-btn {
  display: block;
  text-align: center;
  background-color: #ea352d;
  font-size: 20px;
  font-weight: bold;
  color: #FFF;
  margin: 20px 0px;
  padding: 2vh 10vw;
} */